.titulo {
    color: green;
    }

.titulo2 {
    color: blue;
    }

body {
    width: 50%;
    margin: 0 auto;
    padding: 50px;

    border: solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


