*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    margin: 170px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    width: 500px;
}

input {
    width: 500px;
}

.calendario {
    width: 500px;
    border: 1px solid black;
    border-collapse: collapse;
}

.cabecera_mes{
    border: 1px solid black;
    width: 500px;
    text-align: center;
}
td, th{
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    width: 28px;
    height: 28px;
}

th{
    background-color: #f2f2f2;
}

.calendar .header{
    text-align: center;
    background-color: #f9f9f9;
    font-weight: bold;
}

/* Estilo para las flechas */
.retroceder{
    width: 17px;
    height: 17px;
    padding-top: 5px;
    cursor: pointer;
}

.avanzar{
    width: 17px;
    height: 17px;
    padding-top: 5px;
    cursor: pointer;
}







